* {
  padding: 0;
  margin: 0;
}

.snake {
  position: absolute;
  min-width: 25px;
  min-height: 25px;
  color: black;
  background-color: black;
}

.food {
  position: absolute;
  min-width: 25px;
  min-height: 25px;
  color: white;
  background-color: white;
  border: 1px solid black;
  border-radius: 100%;
}

#board {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

#score {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 500px;
  opacity: 0.1;
  text-align: center;
  margin-left: 125px;
  margin-top: -30px;
/*  font-family: 'Orbitron', sans-serif;*/
}









