* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#options {
  /*text-align: center;*/
}

#game-board {
  width: 300px;
  height: 300px;
  border: 1px solid #000000;
  position: absolute;
}

.square {
  width: 27px;
  height: 27px;
  position: absolute;
  text-align: center;
  border-radius: 2px;
  border: 1px solid black;
}

.mine {
  background-image: url("images/mine.png");
  background-size: cover;
}

.revealed {
  background-color: white;
}

.hidden {
  /*background-image: url("images/square.jpg");*/
  background-color: grey;
  background-size: cover;
  /*border: none;*/
/*  width: 24px;
  height: 24px;
  box-shadow: 3px 3px 3px 3px black;*/
  /*border-style: outset;*/
}

#board-container {
/*  width: 100%;
  text-align:center;*/
}